<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js" charset="utf-8"></script>
  </head>
  <body>
    <button id="green">Green</button>
    <button id="yellow">Yellow</button>
    <button id="red">Red</button>

    <script src="jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="javascripts/led.js" charset="utf-8"></script>
  </body>
</html>
